<!DOCTYPE HTML>
<html lang="ru" ng-app="travelBotApp">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Туристический телеграм бот" />
    <title>Travel bot</title>
    <link rel="canonical" href="https://travel-tbot.herokuapp.com/" />
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" sizes="16x16" href="images/icons/favicon-16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/icons/favicon-32.png">
    <link rel="icon" type="image/png" sizes="64x64" href="images/icons/favicon-64.png">
    <link rel="icon" type="image/png" sizes="128x128" href="images/icons/favicon-128.png">
    <link rel="icon" type="image/png" sizes="256x256" href="images/icons/favicon-256.png">
    <link rel="icon" type="image/png" sizes="512x512" href="images/icons/favicon-512.png">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="shortcut icon" type="image/svg+xml" href="images/icons/favicon.svg">
    <meta property="og:title" content="Travel bot" />
    <meta property="og:site_name" content="travel-tbot.herokuapp.com" />
    <meta property="og:url" content="https://travel-tbot.herokuapp.com/" />
    <meta property="og:description" content="Туристический телеграм бот" />
    <meta property="og:image" content="images/icons/favicon-512.png" />
    <meta property="og:locale" content="RU" />
</head>
<body ng-controller="appController">
<div class="wrap-messages">
    <div ng-repeat="message in messages" class="message" ng-class="message.class">
        <div class="text" ng-bind="message.text"></div>
        <button title="Закрыть" class="btn-cancel" ng-click="cancelMsg(this);"></button>
    </div>
</div>

<div class="form none" ng-class="isVisibleForm">
    <input title="Введите название города" type="text" placeholder="Название города" ng-model="cityForm.name">
    <textarea title="Введите информацию по городу" class="custom-scroll" placeholder="Информация по городу" ng-model="cityForm.info"></textarea>
    <div>
        <button class="btn-submit" ng-click="addCity();" ng-if="!isVisibleBtnForm">Добавить</button>
        <button class="btn-submit" ng-click="editCity();" ng-if="isVisibleBtnForm">Сохранить</button>
    </div>
</div>


    <header>
        <h1>Travel bot</h1>
        <button title="{{ titleAddBtn }}" class="btn-add" ng-class="classOpenForm" ng-click="openAddForm();"></button>
    </header>

    <main id="main" class="custom-scroll" ng-class="isActiveScroll();">
        <table>
            <thead>
            <tr>
                <th class="city-id">№</th>
                <th class="city-name">Название</th>
                <th class="city-info">Информация</th>
                <th class="settings"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="city in cities">
                <td class="city-id" ng-bind="city.id"></td>
                <td class="city-name" ng-bind="city.name"></td>
                <td class="city-info" ng-bind="city.info"></td>
                <td class="settings">
                    <button title="Изменить информацию" class="btn-edit" ng-click="openEditForm(city);"></button>
                    <button title="Удалить данные" class="btn-delete" ng-click="deleteCity(city.id);"></button>
                </td>
            </tr>
            </tbody>
        </table>
    </main>

    <footer>
        <a title="Перейти к боту" class="telegram-bot" href="https://t.me/travel_t_bot"></a>
        <div>🡄 Telegram</div>
        <div class="earth">🌏<br>2021</div>
        <div>GitHub 🡆</div>
        <a title="Посмотреть код на github" class="github" href="https://github.com/EgorKrivosheev/travel-bot"></a>
    </footer>

</body>

<script defer src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
<script defer src="scripts/travelBotApp.js"></script>
<script defer src="scripts/services/cityApiService.js"></script>
<script defer src="scripts/controllers/appController.js"></script>

</html>
